In [36]:
import os
import warnings
import numpy as np
import pandas as pd
from tqdm import tqdm
from Final_Model import Model as model

np.random.seed(42)
os.environ["PYTHONWARNINGS"] = "ignore::UserWarning"
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=UserWarning)

In [37]:
df_path = 'input/Q2.csv'
save_path = 'input/tradeTime.csv'
final_save = 'input/tradeTimeInfo.csv'
info_path_1 = 'input/inputTrain.csv'
info_path_2 = 'input/inputTest.csv'
raw_path_1 = 'input/train.csv'
raw_path_2 = 'input/test.csv'

In [38]:
df = pd.read_csv(df_path)
info_df_1 = pd.read_csv(info_path_1).drop(columns='Unnamed: 0')
info_df_2 = pd.read_csv(info_path_2).drop(columns='Unnamed: 0')

Add additional feature to the dataframe.

In [39]:
info_df = pd.concat([info_df_1, info_df_2])
info_df = info_df.sort_values(by='carid', ignore_index=True)
df = pd.merge(df, info_df, how='left')
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate,tradeTime,mileage,color_1,color_2,...,l1,l2,l3,l4,l5,l6,l7,l8,l9,price
0,68603,2021/3/11,3.9800,{},2021/3/11,2021/3/11,0.382353,0.691864,1.0,0.0,...,-0.091168,-0.546667,0.039604,-0.091168,-0.546667,0.039604,-0.265507,-0.179676,-0.136634,1.605430
1,12312,2021/5/14,4.5000,{},2021/6/14,2021/6/14,0.651261,-0.571467,0.0,1.0,...,-1.301994,-0.546667,0.653465,-1.301994,-0.546667,0.653465,-1.047504,-0.304440,0.365145,1.704748
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,2021/4/8,0.487395,-1.371959,0.0,0.0,...,1.202279,0.960000,-0.004950,1.202279,0.960000,-0.004950,1.162537,0.499934,0.209457,3.178054
3,45688,2020/9/1,20.5798,{},2020/9/4,2020/9/4,-0.420168,0.546156,0.0,0.0,...,-0.883191,-0.266667,-0.980198,-0.883191,-0.266667,-0.980198,-0.682770,-1.583932,-0.908554,3.071758
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,2021/6/21,0.676471,-0.162242,0.0,0.0,...,-0.233618,0.320000,0.891089,-0.233618,0.320000,0.891089,-0.050445,0.582111,0.806156,2.557227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,NaN,0.978992,-1.076284,0.0,0.0,...,0.920228,0.386667,-0.198020,0.920228,0.386667,-0.198020,0.747678,0.134181,-0.100124,3.173041
9996,54312,2021/3/22,12.3000,{},2021/4/16,NaN,0.428571,-0.006954,0.0,0.0,...,-0.233618,0.320000,0.891089,-0.233618,0.320000,0.891089,-0.050445,0.582111,0.806156,2.587764
9997,45597,2021/1/9,15.3800,{},2021/1/27,NaN,0.126050,-0.262148,0.0,0.0,...,0.626781,0.173333,-0.029703,0.626781,0.173333,-0.029703,0.470126,0.151640,-0.011108,2.796061
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,NaN,0.773109,-1.084207,0.0,1.0,...,0.282051,0.746667,1.732673,0.282051,0.746667,1.732673,0.451912,1.771100,1.653056,3.627004
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,NaN,0.449580,-1.367017,1.0,0.0,...,0.706553,0.720000,2.029703,0.706553,0.720000,2.029703,0.730880,2.379724,1.900444,3.663562

The following means that all car ids can be found in the training set thus trade price is accurate.

In [40]:
df[df['price'] == 0]

Empty DataFrame
Columns: [carid, pushDate, pushPrice, updatePriceTimeJson, pullDate, withdrawDate, tradeTime, mileage, color_1, color_2, color_3, color_4, color_5, color_6, color_7, color_8, color_9, color_10, carCode_1, carCode_2, carCode_3, carCode_4, carCode_5, carCode_6, transferCount, seatings, registerDate, licenseDate, country_1, country_2, country_3, country_4, country_5, country_6, country_7, country_8, country_9, country_10, country_11, maketype, modelyear, displacement, gearbox, oiltype, newprice, a_1, a_2, b, c_1, c_2, c_3, c_4, c_5, c_6, c_7, c_8, c_9, c_10, c_11, d, e, f_1, f_2, f_3, f_4, f_5, f_6, f_7, f_8, f_9, f_10, f_11, f_12, f_13, f_14, g, h_1, h_2, h_3, h_4, h_5, h_6, i_1, i_2, i_3, i_4, i_5, j_1, j_2, j_3, k_1, k_2, k_3, k_4, k_5, k_6, m, n, model0, model1, ...]
Index: []

[0 rows x 156 columns]

Followings mean that pull dates equal to withdraw dates except when some withdraw dates are NaN. Hence, we drop the column of withdraw date.

In [41]:
nan_data = pd.DataFrame(df.isna().sum(), columns=['NaN_num'])
nan_data[nan_data['NaN_num'] != 0]

              NaN_num
withdrawDate     2000

In [42]:
(df['pullDate'] == df['withdrawDate']).sum()

8000

In [43]:
df[df['pullDate'] != df['withdrawDate']]['withdrawDate'].isna().sum()

2000

Remake dataframe to add "true" price of cars.

In [44]:
train_df = pd.read_csv(info_path_1).drop(columns='Unnamed: 0')
# batch_size = int(np.ceil(len(train_df) / 10))
# pred_price = []
# for i in tqdm(range(len(train_df) // batch_size + 1)):
#     drop_ids = train_df[i * batch_size : (i + 1) * batch_size]['carid'].values
    
#     dropped_train_df = train_df[~train_df['carid'].isin(drop_ids)]
#     pred_df = train_df[train_df['carid'].isin(drop_ids)]
    
#     X_train = dropped_train_df.drop(columns='price').to_numpy()
#     y_train = dropped_train_df['price'].values
#     X_test = pred_df.drop(columns='price').to_numpy()

#     f = model()
#     f.fit(X_train, y_train)
#     pred_price += f.predict(X_test).tolist()
    
# train_df['predPrice'] = pred_price

train_df['predPrice'] = pd.read_csv('pricePrediction.csv')['Stacking_model'].values

In [45]:
train_df[['carid', 'price', 'predPrice']]

       carid     price  predPrice
0          1  1.656321   1.707196
1          2  2.125848   2.232424
2          5  0.693147   0.980275
3          6  1.682688   1.747690
4          7  1.931521   2.074259
...      ...       ...        ...
29994  18531  0.631272   0.801289
29995   4294  2.230014   2.249368
29996  20584  1.791759   1.766318
29997  11490  3.367296   3.280470
29998  28672  2.985682   2.918775

[29999 rows x 3 columns]

In [46]:
train_df.to_csv('input/predTrain.csv')

In [47]:
train_df = pd.read_csv('input/predTrain.csv')

In [48]:
df = pd.read_csv(df_path)
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate
0,68603,2021/3/11,3.9800,{},2021/3/11,2021/3/11
1,12312,2021/5/14,4.5000,{},2021/6/14,2021/6/14
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,2021/4/8
3,45688,2020/9/1,20.5798,{},2020/9/4,2020/9/4
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,2021/6/21
...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,NaN
9996,54312,2021/3/22,12.3000,{},2021/4/16,NaN
9997,45597,2021/1/9,15.3800,{},2021/1/27,NaN
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,NaN
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,NaN

In [49]:
df = pd.merge(df, train_df[['carid', 'predPrice']], how='left')
df['predPrice'] = np.exp(df['predPrice'].values) - 1
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate,predPrice
0,68603,2021/3/11,3.9800,{},2021/3/11,2021/3/11,4.571188
1,12312,2021/5/14,4.5000,{},2021/6/14,2021/6/14,5.326470
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,2021/4/8,24.260490
3,45688,2020/9/1,20.5798,{},2020/9/4,2020/9/4,26.192541
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,2021/6/21,12.397629
...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,NaN,21.471404
9996,54312,2021/3/22,12.3000,{},2021/4/16,NaN,12.486524
9997,45597,2021/1/9,15.3800,{},2021/1/27,NaN,15.236936
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,NaN,36.064669
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,NaN,35.530893

In [50]:
df['withdrawDate'].fillna(0, inplace=True)
df['withdrawDate'][df['withdrawDate'] != 0] = 1
df.rename(columns={'withdrawDate': 'isTraded'}, inplace=True)
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,isTraded,predPrice
0,68603,2021/3/11,3.9800,{},2021/3/11,1,4.571188
1,12312,2021/5/14,4.5000,{},2021/6/14,1,5.326470
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,1,24.260490
3,45688,2020/9/1,20.5798,{},2020/9/4,1,26.192541
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,1,12.397629
...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,0,21.471404
9996,54312,2021/3/22,12.3000,{},2021/4/16,0,12.486524
9997,45597,2021/1/9,15.3800,{},2021/1/27,0,15.236936
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,0,36.064669
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,0,35.530893

In [51]:
df['isCut'] = 0
df['isCut'][df['updatePriceTimeJson'] != '{}'] = 1
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,isTraded,predPrice,isCut
0,68603,2021/3/11,3.9800,{},2021/3/11,1,4.571188,0
1,12312,2021/5/14,4.5000,{},2021/6/14,1,5.326470,0
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,1,24.260490,1
3,45688,2020/9/1,20.5798,{},2020/9/4,1,26.192541,0
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,1,12.397629,1
...,...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,0,21.471404,0
9996,54312,2021/3/22,12.3000,{},2021/4/16,0,12.486524,0
9997,45597,2021/1/9,15.3800,{},2021/1/27,0,15.236936,0
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,0,36.064669,1
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,0,35.530893,1

In [52]:
df['cutNum'] = np.array([len(eval(df['updatePriceTimeJson'][i])) for i in range(len(df['updatePriceTimeJson']))])
df

,carid,pushDate,pushPrice,updatePriceTimeJson,pullDate,isTraded,predPrice,isCut,cutNum
0,68603,2021/3/11,3.9800,{},2021/3/11,1,4.571188,0,0
1,12312,2021/5/14,4.5000,{},2021/6/14,1,5.326470,0,0
2,57655,2021/3/13,23.9000,"{""2021-04-05"": ""23""}",2021/4/8,1,24.260490,1,1
3,45688,2020/9/1,20.5798,{},2020/9/4,1,26.192541,0,0
4,52081,2021/4/29,12.2800,"{""2021-05-20"": ""11.9""}",2021/6/21,1,12.397629,1,1
...,...,...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,{},2021/9/11,0,21.471404,0,0
9996,54312,2021/3/22,12.3000,{},2021/4/16,0,12.486524,0,0
9997,45597,2021/1/9,15.3800,{},2021/1/27,0,15.236936,0,0
9998,38629,2021/6/7,36.8800,"{""2021-06-12"": ""36.6""}",2021/6/22,0,36.064669,1,1
9999,58619,2021/3/6,39.3800,"{""2021-03-08"": ""38.6"", ""2021-03-27"": ""38""}",2021/4/6,0,35.530893,1,2

In [53]:
track_num = 3

cut_info = {'cutTime' + str(i + 1): [] for i in range(track_num)}
for i in range(track_num):
    cut_info['cutPrice' + str(i + 1)] = []

for i in range(len(df['updatePriceTimeJson'])):
    dic = eval(df['updatePriceTimeJson'][i])
    if len(dic) > track_num:
        for j in range(track_num):
            index = (j + 1) * len(dic) // track_num - 1
            cut_info['cutTime' + str(j + 1)].append(list(dic.keys())[index])
            cut_info['cutPrice' + str(j + 1)].append(list(dic.values())[index])
    else:
        for j in range(len(dic)):
            cut_info['cutTime' + str(j + 1)].append(list(dic.keys())[j])
            cut_info['cutPrice' + str(j + 1)].append(list(dic.values())[j])
        for j in range(len(dic), track_num):
            cut_info['cutTime' + str(j + 1)].append(np.NAN)
            cut_info['cutPrice' + str(j + 1)].append(np.NAN)
cut_df = pd.DataFrame(cut_info)
cut_df

        cutTime1    cutTime2 cutTime3 cutPrice1 cutPrice2 cutPrice3
0            NaN         NaN      NaN       NaN       NaN       NaN
1            NaN         NaN      NaN       NaN       NaN       NaN
2     2021-04-05         NaN      NaN        23       NaN       NaN
3            NaN         NaN      NaN       NaN       NaN       NaN
4     2021-05-20         NaN      NaN      11.9       NaN       NaN
...          ...         ...      ...       ...       ...       ...
9995         NaN         NaN      NaN       NaN       NaN       NaN
9996         NaN         NaN      NaN       NaN       NaN       NaN
9997         NaN         NaN      NaN       NaN       NaN       NaN
9998  2021-06-12         NaN      NaN      36.6       NaN       NaN
9999  2021-03-08  2021-03-27      NaN      38.6        38       NaN

[10000 rows x 6 columns]

In [54]:
df = pd.concat([df, cut_df], axis=1)
df.drop(columns='updatePriceTimeJson', inplace=True)

In [55]:
df

,carid,pushDate,pushPrice,pullDate,isTraded,predPrice,isCut,cutNum,cutTime1,cutTime2,cutTime3,cutPrice1,cutPrice2,cutPrice3
0,68603,2021/3/11,3.9800,2021/3/11,1,4.571188,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,12312,2021/5/14,4.5000,2021/6/14,1,5.326470,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,57655,2021/3/13,23.9000,2021/4/8,1,24.260490,1,1,2021-04-05,NaN,NaN,23,NaN,NaN
3,45688,2020/9/1,20.5798,2020/9/4,1,26.192541,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,52081,2021/4/29,12.2800,2021/6/21,1,12.397629,1,1,2021-05-20,NaN,NaN,11.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,2021/9/11,0,21.471404,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9996,54312,2021/3/22,12.3000,2021/4/16,0,12.486524,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9997,45597,2021/1/9,15.3800,2021/1/27,0,15.236936,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9998,38629,2021/6/7,36.8800,2021/6/22,0,36.064669,1,1,2021-06-12,NaN,NaN,36.6,NaN,NaN
9999,58619,2021/3/6,39.3800,2021/4/6,0,35.530893,1,2,2021-03-08,2021-03-27,NaN,38.6,38,NaN

In [56]:
df['dFirstCutTime'] = (pd.to_datetime(df['cutTime1']) - pd.to_datetime(df['pushDate'])).map(lambda x: x.days)
df['dSecondCutTime'] = (pd.to_datetime(df['cutTime2']) - pd.to_datetime(df['cutTime1'])).map(lambda x: x.days)
df['dThirdCutTime'] = (pd.to_datetime(df['cutTime3']) - pd.to_datetime(df['cutTime2'])).map(lambda x: x.days)
df['dCutTime'] = (pd.to_datetime(df['pullDate']) - pd.to_datetime(df['pushDate'])).map(lambda x: x.days)
df

,carid,pushDate,pushPrice,pullDate,isTraded,predPrice,isCut,cutNum,cutTime1,cutTime2,cutTime3,cutPrice1,cutPrice2,cutPrice3,dFirstCutTime,dSecondCutTime,dThirdCutTime,dCutTime
0,68603,2021/3/11,3.9800,2021/3/11,1,4.571188,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,12312,2021/5/14,4.5000,2021/6/14,1,5.326470,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
2,57655,2021/3/13,23.9000,2021/4/8,1,24.260490,1,1,2021-04-05,NaN,NaN,23,NaN,NaN,23.0,NaN,NaN,26
3,45688,2020/9/1,20.5798,2020/9/4,1,26.192541,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,52081,2021/4/29,12.2800,2021/6/21,1,12.397629,1,1,2021-05-20,NaN,NaN,11.9,NaN,NaN,21.0,NaN,NaN,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,2021/7/31,22.8800,2021/9/11,0,21.471404,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42
9996,54312,2021/3/22,12.3000,2021/4/16,0,12.486524,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
9997,45597,2021/1/9,15.3800,2021/1/27,0,15.236936,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
9998,38629,2021/6/7,36.8800,2021/6/22,0,36.064669,1,1,2021-06-12,NaN,NaN,36.6,NaN,NaN,5.0,NaN,NaN,15
9999,58619,2021/3/6,39.3800,2021/4/6,0,35.530893,1,2,2021-03-08,2021-03-27,NaN,38.6,38,NaN,2.0,19.0,NaN,31

In [57]:
df.drop(columns=['pushDate', 'pullDate', 'cutTime1', 'cutTime2', 'cutTime3'], inplace=True)

In [58]:
to_fp = ['cutPrice1', 'cutPrice2', 'cutPrice3']
for feature in to_fp:
    df[feature] = df[feature].astype(np.float)

In [59]:
df['dFirstCutPrice'] = df['pushPrice'] - df['cutPrice1']
df['dSecondCutPrice'] = df['cutPrice1'] - df['cutPrice2']
df['dThirdCutPrice'] = df['cutPrice2'] - df['cutPrice3']
df['dCutPrice'] = [df['pushPrice'][i] - min(df['cutPrice1'][i], df['cutPrice2'][i], df['cutPrice3'][i]) for i in range(len(df))]

In [60]:
df[['dFirstCutTime', 'dSecondCutTime', 'dThirdCutTime']].max()

dFirstCutTime     143.0
dSecondCutTime    144.0
dThirdCutTime     133.0
dtype: float64

In [61]:
df[['dFirstCutPrice', 'dSecondCutPrice', 'dThirdCutPrice']].max()

dFirstCutPrice     81.62
dSecondCutPrice    39.02
dThirdCutPrice      7.70
dtype: float64

In [62]:
df['dCutPrice'].max()

81.72999999999999

In [63]:
df

,carid,pushPrice,isTraded,predPrice,isCut,cutNum,cutPrice1,cutPrice2,cutPrice3,dFirstCutTime,dSecondCutTime,dThirdCutTime,dCutTime,dFirstCutPrice,dSecondCutPrice,dThirdCutPrice,dCutPrice
0,68603,3.9800,1,4.571188,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,12312,4.5000,1,5.326470,0,0,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN,NaN,NaN,NaN
2,57655,23.9000,1,24.260490,1,1,23.0,NaN,NaN,23.0,NaN,NaN,26,0.90,NaN,NaN,0.90
3,45688,20.5798,1,26.192541,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
4,52081,12.2800,1,12.397629,1,1,11.9,NaN,NaN,21.0,NaN,NaN,53,0.38,NaN,NaN,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,22.8800,0,21.471404,0,0,NaN,NaN,NaN,NaN,NaN,NaN,42,NaN,NaN,NaN,NaN
9996,54312,12.3000,0,12.486524,0,0,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN
9997,45597,15.3800,0,15.236936,0,0,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN
9998,38629,36.8800,0,36.064669,1,1,36.6,NaN,NaN,5.0,NaN,NaN,15,0.28,NaN,NaN,0.28
9999,58619,39.3800,0,35.530893,1,2,38.6,38.0,NaN,2.0,19.0,NaN,31,0.78,0.6,NaN,1.38

In [64]:
nan_rows = df['cutPrice1'].isna()
df['cutPrice1'][nan_rows] = df['pushPrice'][nan_rows]

nan_rows = df['cutPrice2'].isna()
df['cutPrice2'][nan_rows] = df['cutPrice1'][nan_rows]

nan_rows = df['cutPrice3'].isna()
df['cutPrice3'][nan_rows] = df['cutPrice2'][nan_rows]

In [65]:
df

,carid,pushPrice,isTraded,predPrice,isCut,cutNum,cutPrice1,cutPrice2,cutPrice3,dFirstCutTime,dSecondCutTime,dThirdCutTime,dCutTime,dFirstCutPrice,dSecondCutPrice,dThirdCutPrice,dCutPrice
0,68603,3.9800,1,4.571188,0,0,3.9800,3.9800,3.9800,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,12312,4.5000,1,5.326470,0,0,4.5000,4.5000,4.5000,NaN,NaN,NaN,31,NaN,NaN,NaN,NaN
2,57655,23.9000,1,24.260490,1,1,23.0000,23.0000,23.0000,23.0,NaN,NaN,26,0.90,NaN,NaN,0.90
3,45688,20.5798,1,26.192541,0,0,20.5798,20.5798,20.5798,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
4,52081,12.2800,1,12.397629,1,1,11.9000,11.9000,11.9000,21.0,NaN,NaN,53,0.38,NaN,NaN,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,22.8800,0,21.471404,0,0,22.8800,22.8800,22.8800,NaN,NaN,NaN,42,NaN,NaN,NaN,NaN
9996,54312,12.3000,0,12.486524,0,0,12.3000,12.3000,12.3000,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN
9997,45597,15.3800,0,15.236936,0,0,15.3800,15.3800,15.3800,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN
9998,38629,36.8800,0,36.064669,1,1,36.6000,36.6000,36.6000,5.0,NaN,NaN,15,0.28,NaN,NaN,0.28
9999,58619,39.3800,0,35.530893,1,2,38.6000,38.0000,38.0000,2.0,19.0,NaN,31,0.78,0.6,NaN,1.38

In [66]:
df.fillna(0, inplace=True)

In [67]:
df

,carid,pushPrice,isTraded,predPrice,isCut,cutNum,cutPrice1,cutPrice2,cutPrice3,dFirstCutTime,dSecondCutTime,dThirdCutTime,dCutTime,dFirstCutPrice,dSecondCutPrice,dThirdCutPrice,dCutPrice
0,68603,3.9800,1,4.571188,0,0,3.9800,3.9800,3.9800,0.0,0.0,0.0,0,0.00,0.0,0.0,0.00
1,12312,4.5000,1,5.326470,0,0,4.5000,4.5000,4.5000,0.0,0.0,0.0,31,0.00,0.0,0.0,0.00
2,57655,23.9000,1,24.260490,1,1,23.0000,23.0000,23.0000,23.0,0.0,0.0,26,0.90,0.0,0.0,0.90
3,45688,20.5798,1,26.192541,0,0,20.5798,20.5798,20.5798,0.0,0.0,0.0,3,0.00,0.0,0.0,0.00
4,52081,12.2800,1,12.397629,1,1,11.9000,11.9000,11.9000,21.0,0.0,0.0,53,0.38,0.0,0.0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10177,22.8800,0,21.471404,0,0,22.8800,22.8800,22.8800,0.0,0.0,0.0,42,0.00,0.0,0.0,0.00
9996,54312,12.3000,0,12.486524,0,0,12.3000,12.3000,12.3000,0.0,0.0,0.0,25,0.00,0.0,0.0,0.00
9997,45597,15.3800,0,15.236936,0,0,15.3800,15.3800,15.3800,0.0,0.0,0.0,18,0.00,0.0,0.0,0.00
9998,38629,36.8800,0,36.064669,1,1,36.6000,36.6000,36.6000,5.0,0.0,0.0,15,0.28,0.0,0.0,0.28
9999,58619,39.3800,0,35.530893,1,2,38.6000,38.0000,38.0000,2.0,19.0,0.0,31,0.78,0.6,0.0,1.38

In [68]:
df['dTruePrice'] = df['pushPrice'] - df['predPrice']
df['pTruePrice'] = df['dTruePrice'] / df['predPrice']

df['pFristCutPrice'] = df['dFirstCutPrice'] / df['pushPrice']
df['pSecondCutPrice'] = df['dSecondCutPrice'] / df['cutPrice1']
df['pThirdCutPrice'] = df['dThirdCutPrice'] / df['cutPrice2']
df['pCutPrice'] = df['dCutPrice'] / df['pushPrice']

df['pFirstAllTime'] = df['dFirstCutTime'] / df['dCutTime']
df['pFirstAllTime'].fillna(1, inplace=True)

df['pSecondAllTime'] = df['dSecondCutTime'] / df['dCutTime']
df['pSecondAllTime'].fillna(1, inplace=True)

In [69]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
carid,68603.000000,12312.000000,57655.000000,45688.000000,52081.000000,6729.000000,766.000000,10453.000000,65800.000000,36776.000000,...,63059.000000,63469.000000,45307.000000,57147.000000,17286.000000,10177.000000,54312.000000,45597.000000,38629.000000,58619.000000
pushPrice,3.980000,4.500000,23.900000,20.579800,12.280000,18.500000,9.800000,10.800000,12.280000,16.800000,...,2.000000,11.800000,9.900000,11.380000,16.800000,22.880000,12.300000,15.380000,36.880000,39.380000
isTraded,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
predPrice,4.571188,5.326470,24.260490,26.192541,12.397629,16.249944,9.782567,11.366560,11.435832,17.419523,...,2.048355,12.571402,9.504020,11.201090,16.234233,21.471404,12.486524,15.236936,36.064669,35.530893
isCut,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
cutNum,0.000000,0.000000,1.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,1.000000,2.000000
cutPrice1,3.980000,4.500000,23.000000,20.579800,11.900000,17.680000,9.800000,10.800000,12.280000,16.800000,...,2.000000,11.800000,9.900000,11.380000,16.400000,22.880000,12.300000,15.380000,36.600000,38.600000
cutPrice2,3.980000,4.500000,23.000000,20.579800,11.900000,17.879900,9.800000,10.800000,12.280000,16.800000,...,2.000000,11.800000,9.900000,11.380000,15.900000,22.880000,12.300000,15.380000,36.600000,38.000000
cutPrice3,3.980000,4.500000,23.000000,20.579800,11.900000,16.879900,9.800000,10.800000,12.280000,16.800000,...,2.000000,11.800000,9.900000,11.380000,15.700000,22.880000,12.300000,15.380000,36.600000,38.000000
dFirstCutTime,0.000000,0.000000,23.000000,0.000000,21.000000,27.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,5.000000,2.000000
dSecondCutTime,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,19.000000
dThirdCutTime,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
dCutTime,0.000000,31.000000,26.000000,3.000000,53.000000,49.000000,25.000000,52.000000,3.000000,9.000000,...,26.000000,62.000000,4.000000,1.000000,30.000000,42.000000,25.000000,18.000000,15.000000,31.000000
dFirstCutPrice,0.000000,0.000000,0.900000,0.000000,0.380000,0.820000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.280000,0.780000
dSecondCutPrice,0.000000,0.000000,0.000000,0.000000,0.000000,-0.199900,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.600000
dThirdCutPrice,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000
dCutPrice,0.000000,0.000000,0.900000,0.000000,0.380000,1.620100,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.100000,0.000000,0.000000,0.000000,0.280000,1.380000
dTruePrice,-0.591188,-0.826470,-0.360490,-5.612741,-0.117629,2.250056,0.017433,-0.566560,0.844168,-0.619523,...,-0.048355,-0.771402,0.395980,0.178910,0.565767,1.408596,-0.186524,0.143064,0.815331,3.849107
pTruePrice,-0.129329,-0.155163,-0.014859,-0.214288,-0.009488,0.138465,0.001782,-0.049844,0.073818,-0.035565,...,-0.023607,-0.061362,0.041665,0.015973,0.034850,0.065603,-0.014938,0.009389,0.022607,0.108331
pFristCutPrice,0.000000,0.000000,0.037657,0.000000,0.030945,0.044324,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.023810,0.000000,0.000000,0.000000,0.007592,0.019807
pSecondCutPrice,0.000000,0.000000,0.000000,0.000000,0.000000,-0.011307,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.030488,0.000000,0.000000,0.000000,0.000000,0.015544
pThirdCutPrice,0.000000,0.000000,0.000000,0.000000,0.000000,0.055929,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.012579,0.000000,0.000000,0.000000,0.000000,0.000000
pCutPrice,0.000000,0.000000,0.037657,0.000000,0.030945,0.087573,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.065476,0.000000,0.000000,0.000000,0.007592,0.035043
pFirstAllTime,1.000000,0.000000,0.884615,0.000000,0.396226,0.551020,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.333333,0.064516
pSecondAllTime,1.000000,0.000000,0.000000,0.000000,0.000000,0.020408,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.612903

In [70]:
df.to_csv(final_save)